@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, .days .current-day, input[type=submit] {
  color: #ecf0f1;
  border-radius: 20px;
  padding: 1em;
  background: rgba(255, 255, 255, 0.3);
  border: solid 1px rgba(255, 255, 255, 0.3);
  backgroud-clip: padding-box;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.tasks {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Proza Libre", sans-serif;
}

p, li, ul {
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 16px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: #e1eec3;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f05053), to(#e1eec3));
  background: linear-gradient(to right, #f05053, #e1eec3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "top top" "bottom bottom";
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 1em 2em;
}

.head {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.head h1 {
  font-size: 3em;
  color: #454959;
  text-transform: uppercase;
  word-break: break-all;
}

.head p {
  color: #6D737F;
}

.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
  font-size: 1.1rem;
}

.days p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6D737F;
  opacity: .4;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.days .current-day {
  color: black;
  opacity: 1;
}

.tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  min-height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottom;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 300px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

form {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

input[type=text] {
  all: unset;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 1.5rem;
  color: #454959;
}

::-webkit-input-placeholder {
  color: #454959;
  opacity: .9;
  font-family: "Open Sans", sans-serif;
}

:-ms-input-placeholder {
  color: #454959;
  opacity: .9;
  font-family: "Open Sans", sans-serif;
}

::-ms-input-placeholder {
  color: #454959;
  opacity: .9;
  font-family: "Open Sans", sans-serif;
}

::placeholder {
  color: #454959;
  opacity: .9;
  font-family: "Open Sans", sans-serif;
}

input[type=submit] {
  font-family: "Proza Libre", sans-serif;
  font-size: 1rem;
  margin-top: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  border-radius: 0;
  padding: .5em;
}

ul {
  width: 100%;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #454959;
  background-color: white;
  border-top: 1px solid #e5e5e5;
  font-size: 1.5rem;
  padding: .7rem 1rem;
  margin: 0;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.delete {
  cursor: pointer;
}

.awesome {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 15%;
  z-index: -1;
  max-width: 700px;
}

.delete {
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  height: 1rem;
  margin-left: .5em;
}

.edit {
  height: 1rem;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.delete:hover, .edit:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media all and (max-width: 620px) {
  .awesome {
    left: 0;
  }
}
/*# sourceMappingURL=main.css.map */